name: CI - Build and Test

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  # Python Backend Test Job
  backend-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          
      - name: Install Python Dependencies
        run: pip install -r backend/requirements.txt pytest

      # TODO: Run the service containers for integration tests
      # - name: Start PostgreSQL Service
        # run: docker-compose -f docker-compose.yml up -d postgres backend_test_service

      - name: Run Backend Tests
        run: pytest tests/

  # React Frontend Test Job
  frontend-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend/
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install npm dependencies
        run: npm install
        
      # TODO: run frontend tests  
      # - name: Run Frontend Tests (Jest/RTL)
        # Assuming your package.json has a test script: "test": "jest"
        # run: npm run test